/*
 * styleB.css
 * ----------
 * Laura Cruz-Albrecht | 1/18/17
 * Contains styling for part B of the assignment: color/size styling applied 
 * to the boxes, and they are arranged such that first five are horizontally
 * arranged in the top left of the screen, and the last is in the lower right
 * corner of the screen and moves as the window resizes. Hovering over boxes
 * changes mouse to hand, and alters box and font color.
 *
 * Sources: lecture notes, piazza, flexbox documentation, stackoverflow
 *  - http://stackoverflow.com/questions/33114716/pin-element-flex-item-to-bottom-of-container
 */

.header {
	margin: auto; /* center horizontally */
	text-align: center;
	padding-top: 20px;
	font-family: "papyrus";
	color: #876464; /* font color */
}

.container {
	width: 90%;
	display: flex;	/* default: row layout, as desired */
	flex-wrap: wrap; /* allow wrapping */
	padding: 10px;
	margin: auto; /* center horizontally */

	align-items: flex-start;
	justify-content: center;

	font-family: "papyrus";
	color: #876464; /* font color */
}

/* 
 * basic styling for boxes: sets box and font size and color, adds dotted
 * border to left of boxes, and adds 10 pixels of margin and padding
 */
.box {
	width: 100px;
	height: 150px;
	flex-shrink: 0;	/* box size remains fixed */
	padding: 10px;
	margin: 5px;
	background-color: #eeeff2;

	text-align: left;
	font-size: 16px;
}

/* change box/font colors and cursor symbol on box hover */
/*.box.read:hover {
	cursor: pointer;
	background-color: #ffe79a;
}*/

.box .image {
	object-fit: cover;
    width:100px;
    height:150px;
    opacity: 0.25; /* initially image faded. set to 1 if "read" */
    transition: opacity .5s ease-in-out;
    position: absolute;
}

.box.read {
	/*background-color: #ffe79a;*/ /* yellow */
	background-color: #D0F0C0; /* tea green */
}

.box.read .image {
	opacity: 1;
}

.box .text {
	opacity:1;
	padding: 2px;
}

.box .text h2 {
	margin-top:0;
	font-size:16px;
}
