body {
  margin: auto; /* center horizontally */

  /* additional margin mainly for mobile */
  margin-top:30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;

  text-align: center;
  font-family: "Annie Use Your Telescope";
  font-size: 20px;
  color: #876464; /* font color */    
}

p {
  margin: 10px;
}

h1 {
  margin-bottom: 10px;
}

.book_container {
  width: 90%;
  margin: auto;    /* center horizontally */
  display: flex;   /* default: row layout, as desired */
  flex-wrap: wrap;
  justify-content: center;
  margin-top:30px;
}

.box {
  width: 140px;
  height: 210px;

  flex-shrink: 0; /* box size remains fixed */
  padding: 10px;
  margin: 5px;
  background-color: #eeeff2;
  text-align: left;
}

.box .image {
  object-fit: cover;
  width: 140px;
  height: 210px;

  opacity: 0.25; /* initially image faded. set to 1 if "read" */
  position: absolute;
}

/* set image to full opacity instead of partial if it is read */
.box.read .image {
  opacity: 1;
}

.box.read {
  background-color: #D0F0C0; /* tea green */
}

.box .text {
  padding-left: 2px;
}
